@{
    ViewBag.Title = "ErrorPage";

}

<div class="container">
    <div class="row m-2">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                Exception while processing request, Please try to create again with valid URL or CSV.
            </div>
        </div>
    </div>
</div>
